<html>

<head>
  <title>Score-app</title>
</head>

<body>
  <h1>Score-app</h1>
  <br>
  <form id="form">
    <input type='text' id='player1' name='player1' placeholder='player 1' />
    <input type='text' id='player2' name='player2' placeholder='player 2' />
    <input type='text' id='score1' name='score1' placeholder='score 1' />
    <input type='text' id='score2' name='score2' placeholder='score 2' />
    <input type='submit' id='btn' value='Add score' name='btn' />
  </form>
  <br>

  <h1>List of Scores</h1>
  <ul id='scoreList'>

  </ul>
</body>
<script src="/index.js"></script>

</html>
