<html>

<head>
  <title>Score-app</title>
</head>

<body>
  <h1>Score-app</h1>
  <p id='firstname'></p>
  <p id='fullname'></p>
  <p id='removefirstname'></p>
  <p id='removefirstnameandlastname'></p>
</body>
<script src="/index.js"></script>
</html>
